<div>
    <table class="table table-bordered mt-5">
        <tbody>
          <tr class="text-center">
            <td rowspan="2">Toppings</td>
            <td colspan="4" >
              Pizza Size
            </td>
           
          </tr>
             
          <tr>
            <td>Small ($5)</td>
            <td>Medium ($7)</td>
            <td>Large ($8)</td>
            <td>Extra Large ($9)</td>
          </tr>
          <tr>
            <td colspan="5"> Veg Toppings </td>
          </tr>
          <tr>
            <td >Tomatoes ($1.00)</td>
            <td class="tickIconclass">  </td>
            <td></td>
            <td class="tickIconclass">  </td>
            <td></td>
          </tr>
          <tr>
            <td>Onions ($0.50)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Bell Pepper ($1.00)</td>
            <td class="tickIconclass"> </td>
            <td></td>
            <td class="tickIconclass">  </td>
            <td></td>
          </tr>
          <tr>
            <td>Muschrooms ($1.20)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pineapple ($0.75)</td>
            <td class="tickIconclass">  </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="5">Non Veg Toppings </td>
          </tr>
          <tr>
            <td>Sausage ($1.00)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pepperoni ($2.00)</td>
            <td class="tickIconclass"> </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr >
            <td>Barbecue Chicken ($3.00)</td>
            <td></td>
            <td></td>
            <td class="tickIconclass"> </td>
            <td></td>
          </tr>
          <tr class="thead-light">
            <td colspan="5">Total </td>
          </tr>
          <tr>
            <td>Offer</td>
            <td></td>
            <td></td>
            <td class="text-center">  Offer 3- <img class="tickIconclasstick">
               </td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="text-center">$9.75</td>
            <td></td>
            <td class="text-center"> <span class="breakline linethrough" > $12.50</span> $6.50</td>
            <td></td>
          </tr>
          
        </tbody>
      </table>
</div>
